.container.d-flex.justify-content-center.align-items-center{ style: "min-height: 80vh;" }
  .text-center
    %h1.mb-4 ショートカットクイズ
    %p.mb-4.text-body-secondary キーボードショートカットの知識をテストしよう！
    = link_to "クイズ開始", '#', class: "btn btn-primary btn-lg"